.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.side-nav {
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 2;
}

.patient-screen {
    position: relative;
    left: 15vw;
    top: 10vh;
    /* background: #555; */
    width: 80vw;
    min-height: 90vh;

}
