<top-nav-bar class="top-nav"></top-nav-bar>
<side-nav-bar class="side-nav"></side-nav-bar>

<div class="patient-screen">
    <div class="user-profile-cnt">
        <div class="user-icon">
            <span class="material-icons person-icon">person</span>
        </div>
        <div class="user-info">
            <p class="profile-heading-t1 patient-name">Name:</p>
            <input type="text" name="p-name" class="p-name" >
            <mat-divider></mat-divider>

            <p class="profile-heading-t1 patient-number">Serial No:</p>
            <input type="number" name="p-no" class="p-no">
            <mat-divider></mat-divider>

            <p class="profile-heading-t1 patient-age">Age:</p>
            <input type="number" name="p-age" class="p-age">
            <mat-divider></mat-divider>

            <p class="profile-heading-t1 patient-gender">Gender:</p>
            <input type="text" name="p-gender" class="p-gender">

        </div>
    </div>
</div>
`